@import url("/fonts.css");
@import "tailwindcss";

@theme {
  --font-sans: "peyda";
  --font-alibaba: "Alibaba";
  --color-primary-1: var(--color-primary-1);
  --color-primary-2: var(--color-primary-2);
  --color-primary-3: var(--color-primary-3);
  --color-primary-4: var(--color-primary-4);
}

:root {
  --color-primary-1: #2256ff;
  --color-primary-2: #f6f7f9;
  --color-primary-3: #010057;
  --color-primary-4: #929294;
}

@layer components {
  .btn {
    @apply py-3.5 px-4 flex items-center text-sm justify-center rounded-xl font-medium disabled:opacity-40;
  }

  .btn--primary {
    @apply bg-primary-1 text-white border border-primary-1 !outline-4 !outline-primary-1/10;
  }

  .btn--secondary {
    @apply bg-primary-2 text-primary-1 border border-primary-2 !outline-4 !outline-primary-2/10;
  }

  .btn--danger {
    @apply bg-red-500 text-primary-2 border border-red-500 !outline-4 !outline-red-500/10;
  }

  .btn--outline__primary {
    @apply bg-transparent text-primary-1 border border-primary-1;
  }

  .btn--outline__danger {
    @apply bg-transparent text-red-500 border border-red-500;
  }

  .btn--outline__secondary {
    @apply bg-transparent text-primary-2 border border-primary-2;
  }

  .btn--sm {
    @apply !p-2.5 !text-xs;
  }

  .textField__input {
    @apply w-full appearance-none disabled:opacity-40 p-3.5 text-sm bg-white outline-0 border border-slate-200 focus:border-primary-1 duration-200 rounded-xl text-primary-3 placeholder-primary-4 font-medium;
  }
}

body {
}

button {
  cursor: pointer;
  outline: none;
}

/* LOADING */
.loading svg {
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loading svg circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.recharts-responsive-container .recharts-wrapper{
  max-width: 100% !important;
  max-height: none !important;
}